.newspaper-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
.newspaper-b th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
}
.newspaper-b tbody
{
	background: #e8edff;
}
.newspaper-b td
{
	padding: 10px;
	color: #669;
	border-top: 1px dashed #fff;
}
.newspaper-b tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}


